body {
  background-image: url("https://i.imgur.com/blQOfAj.png");
  background-repeat: repeat;
  font-family: helvetica;
  margin: 4px;
  padding:0;
  border:0;
  overflow-x: hidden;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: red;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}


.grey {
  position: absolute;
  background-color: #eee;
  margin-top: 26px;
  margin-left: -20px;
  overflow:scroll;
overflow-y: hidden;
overflow-x: hidden;
white-space:nowrap;

}
